* {
  box-sizing: border-box;
  font-family: Verdana;
}
/*Top Navigation bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  text-decoration: none;
  overflow: hidden;
  z-index: 999;
  height: 1.25rem;
  top: 0;
}

nav {
  width: 100%;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}
.main-nav {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.main-nav__logo-link {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  color: #335576;
  padding-top: 0.5rem;
}

.main-nav__links {
  list-style: none;
  display: flex;
  padding-top: 1rem;
}
.main-nav__links-right {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.main-nav__links-item-name {
  padding: 0.625rem 0.9375rem;
  color: #335576;
  text-decoration: none;
  list-style: none;
}
a.main-nav__links-item-name:hover {
  background-color: #fefaf5; /*highlighted Top Navgigation bar items on Hover */
}
.main-nav_links-current {
  text-decoration: underline;
  text-decoration-color: #db7a4e;
}
/*Bottom Navigation Bar*/
footer {
  background-color: #fefaf5;
  padding-top: 1.25rem;
}
.footer__card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer__card-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__card-title,
.footer__card-information {
  color: #335576;
}
.footer__card-sub-title {
  color: #db7a4e;
}
h1.footer__card-title {
  text-align: center;
}
.footer__card-time {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
}
.ig-icon,
.ttr-icon {
  width: 50%;
  /*height: 1.875rem;*/
  /*margin-top: 50%;*/
}
.fb-icon {
  /*height: 1.875rem;*/
  /*width: 1.1rem;*/
  width: 50%;
}
.footer__card-sub-title {
  font-size: 0.7rem;
}
.footer__card-links {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20rem;
  padding-top: 3rem;
}
.footer__card-social {
  text-align: center;
}
